*{
    margin: 0;
    padding: 0;
}
#nav{
    height: 100px;
    width: 100%;
    background-color: orangered;
}
.topbar{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box1{
    height: 80%;

}

ul, li{
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
    gap: 20px;
    padding-left: 10px;
}
.box2{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box2 p{
    color: white;
    padding-right: 15px;
}
.bottombar{
    height: 80%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box3{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#search{
    height: 40px;
    width: 550px;
    border-radius: 5px;
    background-color: white;
    border: none;
    padding-left: 20px;
}
.box5{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box5 input{
    color: white;
    background-color: orangered;
    font-size: 20px;
    height: 30px;
    width: 80px;
    border: none;
}
.box6{
    height: 100px;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
}